[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "GLFW"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/grpc"]
	path = External/grpc
	url = https://github.com/grpc/grpc
